:root {
  --light: #dfe0e2;
  --dark: #AAAAAA;
  --primary: purple;
  --secondary: #B7999C;
  --white: whitesmoke;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-back {
  background-color: var(--dark);
}


a {
  color: var(--primary);
}

a:hover {
  color: var(--white);
}

.style {
  font-family: cursive;
}

.buddy {
  font-family: monospace;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--white);
}

.colors {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  background-color: var(--light);
  border: 2px solid var(--primary);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
  transition-duration: 0.4s;
  margin: 5px;
  justify-content: center;
}

button:hover {
  background-color: var(--primary);
  color:  var(--white);
  cursor: pointer;
}

h3 {
  text-align: center;
  border-bottom: 2px solid var(--primary);
  font-family: monospace;
}

h5 {
  text-align: center;
  border-bottom: 2px solid var(--primary);
  font-family: monospace;
  margin-top: 18px;
  font-size: 45px;
}

.image-search {
  margin-top: 30px;
  text-align: center;
}

.save-image {
  width: 100%;
}

.font-box {
  text-align: center;
  margin-top: 30px;
}

.box {
  font-size: 50px;
}

.color-palette {
  margin-top: 30px;
  text-align: center;
}

/* LOGIN STYLES */

.login {
 margin-left: auto;
 margin-right: auto;
}
.form-input {
  margin: 5px;
}

.login-card {
  background-color: var(--secondary);
  text-align: center;
}


/* SIGN UP STYLES */
.sign-up {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-card {
  background-color: var(--secondary);
  text-align: center;
}

/* FAVORITES */
.favorites {
  text-align: center;
  font-family: cursive;
}

h2 {
  font-family: monospace;
}

.favorites-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.font-size {
  font-size: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

@media screen and (max-width: 1350px) {
  .signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-input {
    width: 90%;
  }
}

@media screen and (max-width: 786px) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .login-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec-h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .fir-h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .media-575 {
    margin-bottom: 40px;
  }
}


