:root {
  --light: #F7FFF7;
  --dark: #AAAAAA;
  --darkBlue: #006BA6;
  --primary: purple;
  --secondary: #B7999C;
  --white: whitesmoke;
  --yellow: #FFBC42;
  --crayolaYellow: #FFE66D;
  --deepBlue: #2F3061;
  --steelBlue: #6CA6C1;
  --charcoal: #343434;
  --lightBlue: #0496FF;
  --ruby: #D81159;
  --fireRed: #FF1D15;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Universal styles */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

/* Header and navigation styles */

header {
  background-color: var(--darkBlue);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--yellow);
  font-size: 40px;
}

.navbar-brand:hover {
  color: var(--lightBlue);
}

.signup-links a {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--yellow);
  margin: 0px 8px 0px 8px;
  font-size: 25px;
}

.signup-links a:hover {
  text-decoration: none;
  color: var(--lightBlue);
}

/* Home styles */

.color-box {
  width: 90%;
  flex-direction: column;
}

.palette-box {
  width: 100%;
  border: 5px solid var(--charcoal);
  background-color: var(--charcoal);
  border-radius: 15px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

.colors {
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-style: oblique;
  font-size: 24px;
  color: var(--charcoal);
}

.color-box h3 {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: 65%;
}

.color-box button {
  margin: 30px 10px 15px 10px;
  padding: 10px 0px 10px 0px;
  width: 250px;
  border-radius: 10px;
  border: 3px solid var(--lightBlue);
  background-color: var(--darkBlue);
  color: var(--yellow);
  font-size: 25px;
  font-weight: 500;
}

.color-box button:disabled {
  opacity: 60%;
}

.color-box button:hover:disabled {
  border: 3px solid var(--lightBlue);
  background-color: var(--darkBlue);
  color: var(--yellow);
}

.color-box button:hover {
  border: 3px solid var(--yellow);
  color: var(--crayolaYellow);
}

.image-search {
  margin-top: 30px;
  text-align: center;
}

.save-image {
  width: 100%;
}

.font-box {
  text-align: center;
  margin-top: 30px;
}

.box {
  font-size: 50px;
}

.color-palette {
  margin-top: 30px;
  text-align: center;
}

/* LOGIN STYLES */

.login {
 margin-left: auto;
 margin-right: auto;
}
.form-input {
  margin: 5px;
}

.login-card {
  background-color: var(--secondary);
  text-align: center;
}


/* SIGN UP STYLES */
.sign-up {
  margin-left: auto;
  margin-right: auto;
}

.sign-up-card {
  background-color: var(--secondary);
  text-align: center;
}

/* Favorites styles*/
.favorites {
  text-align: center;
  font-family: cursive;
}

h2 {
  font-family: monospace;
}

.favorites-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.font-size {
  font-size: 40px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

@media screen and (max-width: 1350px) {
  .signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-input {
    width: 90%;
  }
}

@media screen and (max-width: 786px) {
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .login-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec-h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .fir-h3 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  .media-575 {
    margin-bottom: 40px;
  }
}


