body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFCFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  color: purple;
}

a:hover {
  color:aquamarine;
}

.style {
  font-family: cursive;
}

.buddy {
  font-family: monospace;
  font-weight: bold;
}

.image-search {

}

.font-box {

}

.color-palette {
  
}


